@font-face {
  font-family: "Roboto-Bold";
  src: url("./assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("./assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("./assets/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("./assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype");
}

.body {
  font-family: "Roboto-Regular" !important;
  font-size: 0.8rem !important;
  letter-spacing: 1px !important;
}
.footer-style {
  margin: 0 !important;
  padding: 1.5rem 0;
}
.footer-style div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  min-height: 70vh !important;
}

.button {
  max-width: 100%;
  margin: 0.5rem 0 !important;
  padding: 1rem 1.5rem !important;
  text-shadow: none !important;
  letter-spacing: 4px;
  font-family: "Roboto-Light" !important;
  border-width: 3px !important;
}

.image-full {
  width: 100%;
  margin: 2rem;
}

.nav-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 60px;
}

.ui-btn-icon-notext.ui-btn-left {
  left: 45% !important;
  top: 0.1em !important;
  font-size: 30px !important;
}

.hide {
  opacity: 0;
}

.ui-dialog-contain {
  width: 60% !important;
}

.ui-dialog-contain {
  width: 96% !important;
  max-width: 500px !important;
  max-height: 700px !important;
  margin: 10% auto 15px auto;
  padding: 0;
  position: relative;
  top: -15px;
}

.title-modal {
  size: 2rem !important;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(164, 41, 160);
  background: -moz-linear-gradient(
    0deg,
    rgba(164, 41, 160, 1) 0%,
    rgba(63, 8, 88, 1) 64%,
    rgba(45, 15, 35, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(164, 41, 160, 1) 0%,
    rgba(63, 8, 88, 1) 64%,
    rgba(45, 15, 35, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(164, 41, 160, 1) 0%,
    rgba(63, 8, 88, 1) 64%,
    rgba(45, 15, 35, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a429a0",endColorstr="#2d0f23",GradientType=1);
  border: none;
  height: 6rem;
}
.menu h3 {
  color: white !important;
  margin: 0 !important;
  padding: 0 1rem !important;
}

.closeButton {
  color: rgba(164, 41, 160, 1);
  border: none;
  font-size: 1rem;
  padding: 2rem;
  justify-content: flex-start !important;
  text-shadow: none;
}

.center-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: white;
  width: 90%;
}

.card-img {
  width: 100%;
}

.card-sub {
  color: #ff28a9;
  font-size: 1rem;
  margin: 0.3rem !important;
  text-align: center;
}

.card-title {
  color: #0d0d0d;
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0.3rem !important;
}

.card-text {
  color: #616161;
  font-size: 1rem;
  margin: 0.3rem !important;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}
.button-light {
  max-width: 100%;
  margin: 0.5rem 0 !important;
  padding: 1rem 1.5rem !important;
  text-shadow: none !important;
  letter-spacing: 4px;
  font-family: "Roboto-Light" !important;
}
.button-light a {
  color: #000000 !important;
  text-decoration: none;
}
a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none !important;
}

#todos {
  font-family: roboto-regular;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin: 1rem 0;
  border-bottom: 1px solid gray;
  width: 90%;
}
.todoParagraph {
  font-family: "Roboto-Medium";
  font-size: 1.05rem;
  padding: 0.3rem;
  color: white;
  text-align: center !important;
  word-wrap: break-word;
  width: 200px;
}
.todoEmpty {
  padding: 8rem 0;
  word-wrap: normal;
  width: 100%;
}
.leftItemContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit,
.delete {
  background-color: black;
  border: none;
  padding: 0.6rem !important;
  margin: 0.2rem;
}
.edit img,
.delete img {
  max-width: 1.3rem !important;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.btn-tarea {
  min-height: 3em;
  min-width: 20%;
  background-color: white;
}

.text-title {
  color: #a429a0;
}

.inputText {
  border: 1px solid white !important;
}

@media (min-width: 500px) {
  .todoContainer {
    flex-direction: row;
    width: 70%;
  }
  .edit img,
  .delete img {
    max-width: 70% !important;
  }
  .todoParagraph {
    font-size: 1.2rem;
    display: block !important;
  }
  .button-light {
    max-width: 40% !important;
  }
  .image-full {
    width: 50%;
    margin: 2rem;
  }
  .inputContainer {
    max-width: 100% !important;
    display: flex;
    justify-content: center;
  }
  .inputText {
    width: 500px !important;
  }
  .card {
    width: 35%;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: 800px) {
  .todoContainer {
    width: 60%;
  }
  .edit img,
  .delete img {
    max-width: 90% !important;
  }
  .button-light {
    max-width: 30% !important;
  }
  .inputText {
    width: 700px !important;
  }
  .card {
    width: 25%;
  }
}
